h1 {
    text-align: center;
    color: lightskyblue;
}

h3 {
    color: lightgrey;
}

img {
    max-width: 400px;
}

p {
    font-size: 20px;
}

/* NAV BAR STYLING */
nav {
    background-color: lightgreen;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: rgb(95, 65, 0);
    font-size: 1.5em;
}

nav a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* ADDING MARGINS TO GENERAL CONTENT */
body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}