h1 {
    text-align: center;
    color: black;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    color: rgb(56, 186, 230);
}

img {
    max-width: 400px;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

/* NAV BAR STYLING */
nav {
    background-color: rgb(250, 214, 219);
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: rgb(250, 105, 52);
    font-size: 2em;
}

nav a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* ADDING MARGINS TO GENERAL CONTENT */
body {
    background-color: rgb(250, 214, 219);
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 40px;
}

/* COMMENTS SECTION */

.rant {
    font-weight: bold;
    color: crimson
}

/* RANT RATING SLIDER STYLING */

.slide-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

